{% extends 'base.html.twig' %}

{% block title %}Task lists{% endblock %}

{% block body %}
    {% if task_lists|length > 0 %}
        {% for task_list in task_lists %}
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ task_list.name }}</h5>
                    <a href="{{ path('app_task_list_show', {'id': task_list.id}) }}" class="card-link">Show</a>
                    <a href="{{ path('app_task_list_edit', {'id': task_list.id}) }}" class="card-link">Edit</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <p>
        <a href="{{ path('app_task_list_new') }}">Create new</a>
    </p>
{% endblock %}
