{% extends 'base.html.twig' %}

{% block title %}Task lists{% endblock %}

{% block main_nav_items %}
    <ul>
        <li><a href="{{ path('app_task_list_new') }}" role="button">Create a new list</a></li>
    </ul>
{% endblock %}


{% block body %}
    {% if task_lists|length > 0 %}
        {% for task_list in task_lists %}
            <a href="{{ path('app_task_list_show', {'id': task_list.id}) }}">
                <article>
                    <h5>{{ task_list.name }}</h5>
                </article>
            </a>
        {% endfor %}
    {% endif %}
{% endblock %}
