{% extends 'base.html.twig' %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ul>
            <li><a href="{{ path('app_task_list_index') }}">Home</a></li>
            <li><a href="{{ path('app_task_list_new') }}">New</a></li>
        </ul>
    </nav>
{% endblock %}

{% block title %}New TaskList{% endblock %}
{% block main_title %}{% endblock %}

{% block body %}
    {{ component('task_list_type', { 'taskList': task_list.id ? task_list : null, 'form': form }) }}
{% endblock %}
