{% extends 'base.html.twig' %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_task_list_index') }}">Home</a></li>
            <li class="breadcrumb-item active"><a
                        href="{{ path('app_task_list_new') }}">New</a></li>
        </ol>
    </nav>
{% endblock %}

{% block title %}New TaskList{% endblock %}
{% block main_title %}{% endblock %}

{% block body %}
    {{ component('task_list_type', { 'taskList': task_list.id ? task_list : null, 'form': form }) }}
{% endblock %}
