@import "~@picocss/pico/scss/pico";

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

form.task-form button {
  text-align: start;
}

h1 input#task_list_name {
  font-size: inherit;
  border: inherit;
  padding: inherit;
  color: inherit;
}

.grid.tasks-grid {
  grid-template-columns: 0.8fr 0.2fr;
}

@media (min-width: 992px) {
  .grid.tasks-grid {
    grid-template-columns: 0.93fr 0.07fr;
  }
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}
