<!doctype html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Todo list manager{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/favicon.svg">
</head>
<body>

<div class="container">
<nav class="main-nav">
    <ul>
        <li><strong>Task list manager</strong></li>
    </ul>
    {% block main_nav_items %}{% endblock %}
</nav>

<main>
    {% block breadcrumbs %}
        <nav aria-label="breadcrumb">
            <ul>
                <li><a href="{{ path('app_task_list_index') }}">Home</a></li>
            </ul>
        </nav>
    {% endblock %}
    {% block main_title %}
        <h1>{{ block('title') }}</h1>
    {% endblock %}
    {% block body %}{% endblock %}
</main>
</div>
</body>
</html>
